home-page {


/*
 
}
 .item-ios {
   background-color: transparent!important;
  
}

.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary{
    color: #fff!important;
}

.label-ios-facebook,
.item-input .label-ios-facebook,
.item-select .label-ios-facebook,
.item-datetime .label-ios-facebook{
     color: #fff !important;
}

.item-md{
background-color: transparent !important;

}
.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary{
    color: #fff !important;
}

.label-md-facebook,
.item-input .label-md-facebook,
.item-select .label-md-facebook,
.item-datetime .label-md-facebook{
    color: #fff !important;

}

.button-clear-ios{
  color: #4b66a0;


    //color: #fff !important;
}

.content-ios{

color:red;


//color: #fff !important;


}

.scroll-content {

}

.scroll-content {

}

.icon-md-primary{

 color: #4b66a0;

 //color: #fff !important;

}
.content-md{
 color : #4b66a0;

}

ion-menu[type=overlay] .show-backdrop{
        display: block; 
*/
}