menu-page .content {

   background: #FFF;


}

.item-ios-light{
 background: #FFF;


}

.item-md-light,{
  color:black;
  background-color:#FFF;


}


.circle {
   margin:0 auto;
   vertical-align:middle;
   height: 120px;
   width: 120px;
   border: 2px solid #FFF;
   background-color: rgba(158, 158, 158, 0.2);
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;

}

 .teste{
    margin: auto;
    background:#FFF;
    background-color:#FFF;

 
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  } 
} 
