menu-page .content {

   background:#A0D581;

}

.item-ios-light{
 background:#A0D581;

}

.item-md-light,
.item-divider-md-light {
  color: #FFFF;
  background-color: #A0D581;

}


.circle {
   margin:0 auto;
   vertical-align:middle;
   height: 120px;
   width: 120px;
   border: 2px solid #FFF;
   background-color: rgba(158, 158, 158, 0.2);
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;

}

 .teste{
    margin: auto;
    background: #a0d581;
    background-color: #a0d581;
 
}

.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  } 
} 
