pessoa-css .bg {
     background: #ffffff;;
 
}
.h1{
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
   color: #488aff,

}

.h2 {
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #488aff,
}

.btn{
  margin-top: 210px;
  color: #488aff,

}

.centralizar{
margin: 0 auto;
height: 100%;
}