<ion-content padding>
<ion-header >
  <ion-navbar>
    <!--<button ion-button menuToggle> -->
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
  <!--  Tag de Localidade -->
  <ion-item>
    <ion-label>Meus Serviços</ion-label>
    <ion-icon name="construct" item-start color="primary"></ion-icon>
  </ion-item>
  <br>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Cidade:</ion-label>
        <ion-select [(ngModel)]="cidade" (ionChange)="getSetores()">
          <ion-option *ngFor="let cidade of cidades" [value]="cidade">{{cidade.nome}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Lista de Setores</ion-label>
      <ion-select [(ngModel)]="setor.setor">
        <ion-option *ngFor="let setor of setores" [value]="setor">{{setor.setor}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>Empresa:</ion-label>
          <ion-select [(ngModel)]="pessoa">
            <ion-option *ngFor="let empresa of empresas" [value]="empresa">{{empresa.nome_razao}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

    <!-- Lista de Serviços -->
  <ion-list>
    <ion-item>
      <ion-label>Serviços</ion-label>
      <ion-select [(ngModel)]="gaming">
        <ion-option value="Universidade">Fadep</ion-option>
        <ion-option value="Bancario">Banco Do Brasil</ion-option>
        <ion-option value="OrtoBom">OrtoBom </ion-option>
        <ion-option value="Hospital São Lucas">Médico</ion-option>
      </ion-select>
    </ion-item>
    <!-- Lista de Setores -->
  
    <br>
    <br>

    <ion-item>
      <ion-label>Gerenciador de Tarefas</ion-label>
      <ion-icon name="analytics" item-start color="primary" end></ion-icon>
    </ion-item>
    <div>
      <ion-item>
        <ion-list>
          <ion-item>
            <button ion-button clear (click)="goToSenha()">Gerar Senha</button>       
            <br>
            <button ion-button clear (click)="goToAtendimento()">Informações</button>
          </ion-item>
        </ion-list>
      </ion-item>
      <br>
      <br>
    </div>
    <div>
      <br>
          <hr color="blue">
          </div>
  </ion-list>
</ion-header>
</ion-content>
