<ion-content padding>
  <ion-header>
    <ion-navbar>
      <!--<button ion-button menuToggle> -->
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title> Funcionários
        <ion-icon name=""></ion-icon>
      </ion-title>
    </ion-navbar>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      Cadastro
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.nome_razao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Nº Caixa Atendimento</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.caixa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="pessoa.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="pessoa.senha"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <button ion-button color="green" clear item-end (click)="goToSave()">
        <ion-icon name='md-checkmark'></ion-icon>
      </button>
      <button ion-button color="danger" clear item-end>
        <ion-icon name='trash'></ion-icon>  <!-- EXCLUIR DA LISTA-->
      </button>
    </ion-item>
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-icon name="md-list" item-start></ion-icon>
        Gerenciar
      </ion-item>
      <ion-item>
        <br>
        <br>
        <ion-label>Meus Funcionario</ion-label>
        <ion-select [(ngModel)]="pessoa">
          <ion-option *ngFor="let funcionario of funcionarios" [value]="funcionario">{{funcionario.nome_razao}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Meus Setores</ion-label>
        <ion-select [(ngModel)]="setor.setor">
          <ion-option *ngFor="let setor of setores" [value]="setor">{{setor.setor}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item no-lines>
      <button ion-button color="green" clear item-end (click)="goToSave()">
        <ion-icon name='md-checkmark'></ion-icon>
      </button>

    </ion-item>
  </ion-header>
</ion-content>
